uvicorn
FastAPI
SpeechRecognition
phonemizer
# backend: sudo apt-get install espeak
uvicorn
fastapi
PyYAML
gtts
pydub
# sudo apt-get install ffmpeg
langdetect
setuptools
python-dotenv
google-generativeai
python-multipart